mat-toolbar button {
  margin-left: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.scroll {
  overflow-x: scroll;
  height: 600px;
}

.row {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 262px;
  background-color: #3f51b5;
}

