<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">User Details Page</mat-toolbar>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sex</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input matInput disabled value="" />
    </mat-form-field>
    <button mat-raised-button color="primary">Update</button>
  </mat-card>
</div>
