<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form
      fxLayout="streetch"
      fxLayout="column"
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="onLogin()"
    >
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email" />
      </mat-form-field>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Incorrect email
      </mat-error>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          [(ngModel)]="user.password"
        />
      </mat-form-field>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Length musth be longer then 4 characters
      </mat-error>
      <button mat-raised-button type="submit">Sing In</button>
      <a [routerLink]="['/registration']" routerLinkActive="router-link-active">
        Don't have an account yet? Sing Up
      </a>
    </form>
  </mat-card>
</div>
